{% extends 'base.html' %}
{% block content %}
<div class="d-flex w-50 mt-5 flex-column mx-auto">
    <form method="post">

        {{ form.hidden_tag() }}

        {{ form.username(class="form-control mb-2" , placeholder=form.username.label.text ) }}
        {{ form.password(class="form-control mb-2" , placeholder=form.password.label.text ) }}
        {{ form.repeat_password(class="form-control mb-2", placeholder=form.repeat_password.label.text) }}

        {{ form.birthday.label }}
        {{ form.birthday(class="form-control mb-2" , ) }}

        {{ form.gender.label }}
        {{ form.gender(class="form-control" ) }}

        {{ form.comment(class="form-control" , placeholder=form.comment.label.text ) }}

         {{ form.submit(class=" mt-5 btn btn-danger" ) }}

    </form>
</div>
<div class="d-flex justify-content-center align-items-start vh-100" style="padding-top: 150px;">
    <div class="w-50">
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username(class="form-control mb-2", placeholder=form.username.label.text) }}
            {{ form.password(class="form-control mb-2", placeholder=form.password.label.text) }}
            {{ form.submit(class="mt-5 btn btn-danger") }}
        </form>
    </div>
</div>
{% endblock %}
